.container {
  width: 100%;
  padding: 10px;
}

.search-panel__filters {
  width: 100%;
  padding: 1%;
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 10px;
}
.ais-RefinementList-count{
  background-color: rgb(229, 226, 226);
  border: none;
  padding:2px;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 14px; 
  cursor: pointer;
}
.ais-RefinementList-labelText{
  padding:10px;
 
}
.search-panel__filters h4 {
  text-align: center;
  font-size: 16px;
  padding: 0% 1%;
  margin: 0%;
  margin-bottom: 3%;
}

.search-panel__filters div {
  width: 100%;
  margin-bottom: 3%;
}

.search-panel__filters div p {
  padding: 0% 1%;
  margin: 0%;
  font-weight: bold;
}

.refinementlist-style ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:10px;
  padding: 0% 1%;
  margin: 0%;
}

.search_box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.searchbox input[type="search"] {
  width: 340px;
  height: 30px;
}

.searchbox button {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.search-panel_items {
  width: 100%;
}

.variants h1 {
  font-size: 18px;
}

.search-panel_items ol {
  width: 100%;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.search-panel_items li {
  width: 100%;
  /* margin-bottom: 10px; */
}

.variants {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.variants div {
  width: 48%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.search-panel_item img {
  width: 100%;
  height: 200px;
}

.pagination ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

.pagination ul li {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0px 4px;
  background: rgba(234, 232, 232, 0.3);
  border: 1px solid grey;
  border-radius: 2px;
}

.pagination ul li a {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 740px) {
  .search-panel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .search-panel__filters {
    width: 25%;
    margin-top: 50px;
  }

  .search-panel__filters h4 {
    text-align: left;
  }

  .search-panel__results {
    width: 72%;
  }

  .search-panel_items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-panel_items li {
    width: 48%;
    margin-bottom: 10px;
  }

  .search-panel_item img {
    width: 100%;
    height: 200px;
    padding-bottom: 5px;
  }

  .search-panel_item .variants div {
    width: 48%;
    transition: transform 0.3s ease;
  }

  .search-panel_item .variants div:hover {
    transform: scale(1.05);
  }
}
